.main2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: white;
    align-items: center;
}

.cardMain2 {
    width: 37rem;
    height: 34rem;
    margin-top: 66px;
    background-color: white;
    border-radius: 2rem;
    padding: 2rem;
    gap: 2rem;
    display: flex;
    border: 1px solid #e1e1e6;
    flex-direction: column;
    box-sizing: border-box;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header2 {
    width: 33.125rem;
    height: 2.75rem;
    display: grid;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
}

.contatoStep2 {
    display: flex;
    align-items: center;
}

.textContato2 {
    font-family: "IBM Plex Sans";
    font-size: 16px;
    font-weight: 700;
    color: #8e8e8e;
    margin-left: 8px;
}

.iconArrow {
    margin-right: 37.5px;
    margin-left: 37.5px;
}

.empresaStep2 {
    display: flex;
    align-items: center;
}

.textEmpresa2 {
    font-family: "IBM Plex Sans";
    font-size: 16px;
    font-weight: 700;
    color: #323238;
    margin-left: 8px;
}

.projeto2 {
    display: flex;
    align-items: center;
}

.textProjeto2 {
    font-family: "IBM Plex Sans";
    font-size: 16px;
    font-weight: 700;
    color: #8d8d99;
    margin-left: 8px;
}

.ContainerForm {
    width: 33rem;
    height: 17.75rem;
    flex-direction: column;
}

.labelCompanyName,
.labelNumberOfEmployees,
.labelAboutYourBuusiness {
    font-family: "IBM Plex Sans";
    font-weight: 700;
    font-size: 16px;
}

.inputCompanyName,
.inputNumberOfEmployees,
.inputAboutYourBuusiness {
    width: 33rem;
    height: 3.5rem;
    border: 1px solid #e1e1e6;
    border-radius: 2px;
    margin-top: 0.25rem;
}

.NextBtnContainer {
    display: flex;
    /* justify-content: flex-end; */
}

.btnNext {
    background-color: #633bbc;
    width: 158px;
    height: 56px;
    border-radius: 6px;
    font-family: "IBM Plex Sans";
    font-weight: 700;
    font-size: 16px;
    color: white;
}

.backBtnContainer {
    display: flex;
    /* justify-content: flex-start; */
}

.btnBack {
    background-color: white;
    width: 158px;
    height: 56px;
    border-radius: 6px;
    border: 1px solid #633bbc;
    font-family: "IBM Plex Sans";
    font-weight: 700;
    font-size: 16px;
    color: #633bbc;
}

.btnDownContainer {
    display: flex;
    justify-content: space-between;
}
