:root {
    --bg: #18181b;
}
:focus {
    /* tira o focus padrão(que é a borda branca dos elementos) */
    outline: transparent;
    box-shadow: 0 0 0 2px var(--green-500);
}

* {
    margin: 0;
    padding: 0;
    /* faz com que o border e padding nunca almentem a sua largura mas sim sim espremer o elemento dentro da caixa */
    box-sizing: border-box;
}

body {
    background-color: var(--bg);
    color: var(--gray-300);
    /* aplica em navegadores baseados em webkit como chrome uma padronização para fontsficarem um pouco mais finas  */
    -webkit-font-smoothing: antialiased;
}
